 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1826px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 864px;
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-1 .u-accordion-1 {
  width: 894px;
  margin: 30px auto 0;
}

.u-section-1 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 20px 0;
}

.u-section-1 .u-accordion-item-4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-4 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 19px 30px 20px;
}

.u-section-1 .u-accordion-item-5 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-5 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-accordion-item-6 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-6 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
}

.u-section-1 .u-accordion-item-7 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-7 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 25px 30px;
}

.u-section-1 .u-icon-7 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-7 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-1 .u-text-9 {
  margin-bottom: 0;
}

.u-section-1 .u-accordion-item-8 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-8 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-8 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-8 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-9 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-9 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-9 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-9 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-item-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-10 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-10 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-10 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-11 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-11 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-11 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-12 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-12 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-12 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-1 .u-accordion-pane-12 {
  min-height: 154px;
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 20px;
}

.u-section-1 .u-image-1 {
  width: 469px;
  height: 224px;
  transition-duration: 0.5s;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-5 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-6 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-7 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-8 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-9 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-10 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-11 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-12 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1648px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    padding: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 162px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  opacity: 1 !important;
}